{% extends 'base.html' %}
{% load static %}

{% block content %}

<script src="{% static 'js/script.js' %}"></script>

<div class="container">
    <!-- Show the workout -->
    <h1><strong>Workout Title: </strong>{{ workout.workout_title }}</h1>
    <h2><strong>Description: </strong>{{ workout.description }}</h2>
    <h3><strong>By: </strong>{{ workout.author }}</h3>



    <!-- Table for all of the exercises in a workout -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Exercise</th>
            <th scope="col">Number of Sets</th>
            <th scope="col">Number of Reps</th>
            <th scope="col">Average Weight</th>
        </tr>
        </thead>



        <tbody>
            <!-- For each exercise, add a new row in the table -->
        {% for exercise in workout.exercises.all %}
        
        <tr>
            {% if forloop.counter %}<th scope="row">{{ forloop.counter }}</th>{% endif %}
            <td>{{ exercise.name }}</td>
            <td>{{ exercise.number_of_sets }}</td>
            <td>{{ exercise.number_of_reps }}</td>
            <td>{{ exercise.weight }}</td>

            <!-- Edit exercise button -->
            <td><a class="btn btn-success" href="{% url 'edit_exercise' exercise.workout_id exercise.pk %}">Edit</a></td>

            <!-- remove exercise modal button -->
            <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal">Remove</button></td>
            <!-- <td><a class="btn btn-danger" href="{% url 'remove_exercise' exercise.workout_id exercise.pk %}">Remove</a></td> -->
        </tr>

  
     <!-- Modal -->
        <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><strong>Are you sure you want to remove this exercise?</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <p>Please click "Confirm" to remove the exercise from the workout.</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'remove_exercise' exercise.workout_id exercise.pk %}">Confirm</a>
                <!-- <button type="button" class="btn btn-primary">Confirm</button> -->
                </div>
            </div>
            </div>
        </div>

            {% endfor %}

        </tbody>
    </table>
 

    <!-- Add exercise -->
    <a class="btn btn-primary" href="{% url 'add_exercise' workout.pk %}">Add Exercise</a>
    
</div>



{% endblock %}