{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Add new workout -->
    <div class="container">
        <h1>Workouts</h1>
        <a class='btn btn-primary' href="{% url 'add_workout' %}">Add a New Workout</a>
    </div>




<!-- Show all workouts -->
<div class="vertical-center">
    <div class="container-md-12">
        {% for workout in workout_list %}
        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'images/snatch.jpg' %}" class="card-img-top" alt="image not found">
                    <div class="card-body">
                        <h5 class="card-title">{{ workout.workout_title }}</h5>
                        <h6 class="card-author">By: {{ workout.author }}</h6>
                        <p class="card-text">{{ workout.description }}</p>
                        <a href="{% url 'workout_detail' workout.pk %}" class="btn btn-primary">View Workout</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal">Remove</button>

                    </div>
                </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><strong>Are you sure you want to remove this exercise?</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <p>Please click "Confirm" to remove the exercise from the workout.</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'remove_workout' workout.pk %}">Confirm</a>
                <!-- <button type="button" class="btn btn-primary">Confirm</button> -->
                </div>
            </div>
            </div>
        </div>
        
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
        {% endfor %}
        
    </div>
</div>



<!-- if workout is clicked on, show workout, add buttons to edit or remove workout -->

{% endblock %}